@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container button {
    margin: 0 10px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #2980b9;
}

.dialog-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}

.dialog-container h2 {
    margin-bottom: 15px; 
    text-align: center;
    font-size: 1.25rem; 
}

.dialog-container input,
.dialog-container textarea,
.dialog-container button {
    font-family: 'Merriweather', serif;
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1rem;
}

.dialog-container textarea {
    width: 100%; 
    box-sizing: border-box; 
    resize: vertical; 
}

.dialog-container button {
    background-color: #3498db; 
    color: white; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.dialog-container button:hover {
    background-color: #2980b9;
}

.dialog-container button.cancel-button {
    background-color: #e74c3c;
}

.dialog-container button.cancel-button:hover {
    background-color: #c0392b;
}

#background-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 900px;
}

#food-menu,
#drink-menu,
#dessert-menu {
    margin-bottom: 20px;
}

.menu-item {
    text-align: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.menu-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border-color 0.3s ease;
}

.menu-item:hover {
    border-color: #3498db;
    border: 2px solid #3498db;
    cursor: pointer;
}

.menu-item p {
    font-size: 12px;
    margin: 0; 
}

#user-selection {
    margin-top: 20px;
    text-align: center;
    display: none;
    flex-direction: column;
}

#virtual-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    max-height: 80vh;
}

.selected-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background: #fff; 
    padding: 10px; 
    border-radius: 5px; 
}

.selected-list li .item-details {
    flex-grow: 1;
}

.selected-list li .observation {
    flex-basis: 50%;
    margin-left: 10px; 
    background-color: #f9f9f9; 
    border-left: 2px solid #ccc; 
    padding-left: 10px; 
}

.selected-list li button.remove-button {
    margin-left: 10px;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: 'Merriweather', serif; /* Ajusta a fonte do rodapé */
}

#voltar-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #2980b9;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#voltar-btn:hover {
    background-color: #2980b9;
    transition: background-color 0.3s ease;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
       /* Ajuste de fonte para a lista de pedidos */
       .selected-list li .item-details,
       .selected-list li .observation {
           font-size: 12px;
       }
   
       /* Centraliza os títulos Comida, Bebida e Sobremesa */
       .menu-title {
           text-align: center; /* Centraliza o texto dos títulos */
       }
   
       /* Diminui a fonte do footer */
       footer {
           font-size: 10px;
       }
   }

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Ajuste de fonte para a lista de pedidos */
       /* Centraliza os títulos Comida, Bebida e Sobremesa */
       #food-menu h2,
       #drink-menu h2,
       #dessert-menu h2 {
           text-align: center;
       }
    
    .selected-list li .item-details,
    .selected-list li .observation {
        font-size: 12px;
    }

    /* Centraliza os títulos Comida, Bebida e Sobremesa */
    #background-container {
        width: calc(100% - 10px); /* Adiciona uma margem de 5px nas laterais */
        padding: 10px;
    }

    .menu-title {
        text-align: center; /* Centraliza o texto dos títulos */
    }
        /* Diminui a fonte do footer */
        footer {
            font-size: 10px;
        }
}

@media only screen and (max-width: 1024px) {
   /* Centraliza a caixa "Bem Vindo ao Nosso Restaurante" */
   .dialog-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    text-align: center; /* Centraliza o conteúdo */
}

/* Centraliza a lista de pedidos */
#user-selection {
    margin-top: 20px;
    text-align: center;
    display: none;
    flex-direction: column;
    margin-left: auto; /* Alinha à direita */
    margin-right: auto; /* Alinha à esquerda */
}

/* Ajuste de fonte para a lista de pedidos */
.selected-list li .item-details,
.selected-list li .observation {
    font-size: 12px;
}

/* Centraliza os títulos Comida, Bebida e Sobremesa */
#food-menu h2,
#drink-menu h2,
#dessert-menu h2 {
    text-align: center;
}
}

